
.qs_header {
    padding: 0.5%;
    color: #ffff;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,23,1) 45%, rgba(168,168,168,1) 100%);
    display: flex;
    justify-content: space-between;
}