
.modal {
    z-index: 2;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    position: fixed;
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.modalContent {
    z-index: 1;
    margin: auto;
    background: #ffff;
    border-radius: 5px;
    padding: 3%;
    box-shadow: 0 0 11px 2px #392c1e;
}

 

body.modal {
    overflow: hidden;
}
 