.works {
  padding: 2% 15% 5% 15%;
}
.col-md-4 .mt-3 .col-lg-3 {
  border: 1px solid gray;
}

img {
  max-width: 100%;
}
.gallery {
  background-color: #dbddf1;
  padding: 80px 0;
}
.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#gallery-modal .modal-img {
  width: 100%;
}

li {
  list-style-type: none;
  margin: 2.5px;
  float: left;
}

@media screen and (max-width: 890px) {
  .works {
    margin: 0%;
    padding: 0%;
  }
  li {
    float: none;
    margin-top: 2.5px;
  }

  .imgs {
    padding: 0px;
  }
  h1 {
    padding: 2% 2% 0% 10%;
  }
}
