.optionals img {
  margin-bottom: 10px;
  cursor: pointer;
  border: 0.5px solid #bdbdbd4a;
  border-radius: 0px;
}
.optionals img:first-child {
  margin-left: 10%;
}

.list li {
  display: inline;
  text-align: center;
  display: table-cell;
  padding: 5px;
  border: 1px solid #bdbdbd4a;
  cursor: pointer;
}

carousel-indicators {
  margin-bottom: 0px;
}
.carousel-indicators button {
  border-radius: 100%;
  height: 25px;
  width: 25px;
}

.list ul {
  display: table;
  margin: auto;
}

.card {
  border-collapse: collapse;
  border-radius: 0%;
  border: none;
}

button {
  border-radius: 0%;
}

.card-body p {
  margin: 0%;
}

.td-special {
  font-weight: 600;
  background-color: #f5f5f5;
}

.title {
  font-size: 1.5rem;
}

.input-form {
  height: 30px;
  width: 100px;
  margin-right: 5px;
  display: flex;
}
.form-select:focus {
  box-shadow: 0 0 0 0.05rem rgb(126 126 126 / 25%);
}
.select-form {
  border: none;
}

.form-check-input {
  border: 1px solid black;
}

.form-check-input:checked {
  background-color: #000000;
  border-color: #000000;
}

.form-check-input:focus {
  border-color: none;
  box-shadow: 0 0 0 0.05rem rgb(126 126 126 / 25%);
}
