.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-active-color: #f05a23 !important;
    --bs-navbar-brand-color: #f05a23 !important;
}

.navbar-text {
    color: #f05a23 !important;
}