.group {
    a {
        text-decoration: none;
    }
    li {
        cursor: pointer;
        transition: 0.5s;
    }

    li:hover {
        background-color: #ffffff7e;
        padding: 0.8%;
    }
}
