@import "bootstrap/scss/bootstrap";
@import "questions/index";
@import "main/index.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 
    background-color: white;
}

  